{% extends "template-base.html" %}

{% block content %}
<div class="row justify-content-md-center">
	<div class="col-8">
		<p>{{ model.bytecode }}</p>
	</div>
</div>
<div class="row justify-content-md-center">
	<div class="col-6">
		<div class="table-responsive">
			<table class="table table-striped table-compact table-dark">
				<thead>
				<tr>
					<th colspan="2">positions</th>
					<th colspan="4">cortex instruction</th>
				</tr>
				</thead>
				<tbody>
				{% for instruction in model.cortexInstructions %}
				<tr>
					<td colspan="2">{{ loop.index + 1 }}</td>
					<td colspan="4">{{ instruction }}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-6">
		<div class="table-responsive">
			<table class="table table-striped table-compact table-dark">
				<thead>
				<tr>
					<th colspan="2">positions</th>
					<th colspan="4">ethereum instruction</th>
				</tr>
				</thead>
				<tbody>
				{% for instruction in model.ethereumInstructions %}
				<tr>
					<td colspan="2">{{ loop.index + 1 }}</td>
					<td colspan="4">{{ instruction }}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
