body {
	background: beige;
	font-family: Consolas, monospace;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	margin: auto;
	max-width: 500px;
	padding-top: 20px;
}

table {
	width: 100%;
}

h1 {
	text-align: center;
}

th {
	background: black;
	color: beige;
}

th, td {
	border: 1px solid black;
	padding: 8px;
}