<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
		<title>{% block title %}:-){% endblock %} · Cortex</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<style>
			textarea {
				min-height: 400px;
				min-width: 500px;
				font-family: "Courier New", monospace;
			}
		</style>
	</head>
	<body style="background-color: #f8f9fa">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="text-center" style="margin: 20px;">
						<h1><a href="/">Cortex</a></h1>
					</div>
				</div>
			</div>
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>
