{% extends "templates/base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6 offset-md-3">
		<p>Program Samples:</p>
		<ul>
			{% for sample in samples %}
			<li><a href="/samples/view/{{ sample.id }}">{{ sample.name }}</a></li>
			{% endfor %}
		</ul>
		{% if admin %}
		<p>Program Submissions:</p>
		<ul>
			{% for program in programs %}
			<li><a href="/programs/view/{{ program.id }}">{{ program.id }}</a></li>
			{% endfor %}
		</ul>
		<p>
			<a href="/programs/new">Create a program</a>
		</p>
		{% endif %}
	</div>
</div>
{% endblock %}