{% extends "templates/base.html" %}

{% block title %}Program {{ program.id }}{% endblock %}

{% block content %}
<form action="/programs/solve" method="POST">
	<label>Source<br />
		<textarea class="form-control" rows="10" name="source">{{ program.source }}</textarea>
	</label><br />
	<input type="submit" class="btn btn-primary" value="Solve" />
	<input type="submit" class="btn btn-primary" value="Run" formaction="/programs/run" />
	<input type="submit" class="btn btn-primary" value="Optimize" formaction="/programs/optimize" />
</form>
{% endblock %}
