{% extends "templates/base.html" %}

{% block title %}Sample "{{ sample.name }}"{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6 offset-md-3">
		<form action="/programs/solve" method="POST">
			<p>
				"{{ sample.description }}"<br />
				Pseudocode:
			</p>
			<pre>{{ sample.pseudocode }}</pre>
			<label>Source<br />
				<textarea class="form-control" rows="10" name="source">{{ sample.source }}</textarea>
			</label><br />
			<input type="submit" class="btn btn-primary" value="Solve" />
			<input type="submit" class="btn btn-primary" value="Run" formaction="/programs/run" />
			<input type="submit" class="btn btn-primary" value="Optimize" formaction="/programs/optimize" />
			<input type="submit" class="btn btn-primary" value="Graph" formaction="/programs/graph" />
		</form>
	</div>
</div>
{% endblock %}
