body {
    font-size: .875rem;
    background: #343a40;
}

.navbar-brand {
    padding: .5rem;
    font-size: 1rem;
}

.navbar .form-control {
    padding: .5rem;
    border-width: 0;
    border-radius: 0;
}

.navbar, .row {
    margin-bottom: 14px;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

tr.breakpoint-active {
    --bs-table-bg: #5454fc;
    --bs-table-striped-bg: #5454fc;
    background-color: #5454fc;
}

tbody tr:hover {
    --bs-table-bg: #986540;
    --bs-table-striped-bg: #986540;
    --bs-table-accent-bg: #986540;
    background-color: #986540;
}

tbody tr td:hover {
    --bs-table-bg: #d2874e;
    --bs-table-striped-bg: #d2874e;
    --bs-table-accent-bg: #d2874e;
    background-color: #d2874e;
}

table.table-compact {
    table-layout: fixed;
}

table.table-compact > :not(caption) > * > * {
    padding: 0.05rem 0.25rem;
}

table.table-compact td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

p {
    color: rgb(255, 255, 255);
}

.icon-group {
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-right: 25px;
}

span.breakpoint {
    margin-left: 4px;
}

.preformat {
    font: 500 12px / 1.5 Monaco, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
}
